.cone-fundamentals{
    width:100%
}
.critter-triptych{
    text-align:center
}
.critter-triptych>.critter{
    background-color:#222;
    border-radius:4px;
    padding:1rem;
    width:30%;
    margin:0 auto;
    text-shadow:0 0 3px rgba(0,0,0,.5);
    color:#eee;
    font-size:18pt
}
.critter-triptych>.critter.-blue{
    color:#00d
}
.critter-triptych>p{
    margin-top:3px
}
.framebuffer-bits{
    font-size:14pt;
    font-family:bryant
}
.framebuffer-bits th{
    text-align:center
}
.framebuffer-bits td{
    text-align:center;
    color:#606060
}
.framebuffer-bits td:first-child{
    text-align:right
}
.framebuffer-bits code{
    color:#999;
    letter-spacing:1px
}
.framebuffer-bits code b{
    color:#333;
    font-weight:400;
    background-color:#f4f4f4;
    border-radius:2px
}
@media screen and (max-width:540px){
    .framebuffer-bits{
        padding-left:25%
    }
}
@media screen and (min-width:540.01px) and (max-width:640px){
    .framebuffer-bits{
        padding-left:28%
    }
}
.square{
    cursor:default;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    display:block;
    width:12px;
    height:12px;
    border:1px solid #000;
    background-color:red;
    margin:0 2px
}
.square.black{
    background-color:#000
}
.square.red{
    background-color:red
}
.square.green{
    background-color:#0f0
}
.square.yellow{
    background-color:#ff0
}
.square.blue{
    background-color:#00f
}
.square.purple{
    background-color:#f0f
}
.square.cyan{
    background-color:#0ff
}
.square.white{
    background-color:#fff
}
.framebuffer-colours{
    cursor:default;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    background-color:#000;
    border-radius:4px;
    width:100%;
    font-family:iosevka term;
    font-size:15pt
}
.framebuffer-colours td{
    padding:.5rem;
    text-align:center
}
.framebuffer-colours.-putty .shadow{
    text-shadow:0 0 4px #ccc
}
.framebuffer-colours.-putty .black{
    color:#000
}
.framebuffer-colours.-putty .black.bold{
    color:#888
}
.framebuffer-colours.-putty .red{
    color:#800
}
.framebuffer-colours.-putty .red.bold{
    color:red
}
.framebuffer-colours.-putty .green{
    color:#080
}
.framebuffer-colours.-putty .green.bold{
    color:#0f0
}
.framebuffer-colours.-putty .yellow{
    color:#880
}
.framebuffer-colours.-putty .yellow.bold{
    color:#ff0
}
.framebuffer-colours.-putty .blue{
    color:#008
}
.framebuffer-colours.-putty .blue.bold{
    color:#00f
}
.framebuffer-colours.-putty .purple{
    color:#808
}
.framebuffer-colours.-putty .purple.bold{
    color:#f0f
}
.framebuffer-colours.-putty .cyan{
    color:#088
}
.framebuffer-colours.-putty .cyan.bold{
    color:#0ff
}
.framebuffer-colours.-putty .white{
    color:silver
}
.framebuffer-colours.-putty .white.bold{
    color:#fff
}
.framebuffer-colours.-microsoft .shadow{
    text-shadow:0 0 4px #ccc
}
.framebuffer-colours.-microsoft .black{
    color:#0c0c0c
}
.framebuffer-colours.-microsoft .black.bold{
    color:#767676
}
.framebuffer-colours.-microsoft .red{
    color:#c50f1f
}
.framebuffer-colours.-microsoft .red.bold{
    color:#e74856
}
.framebuffer-colours.-microsoft .green{
    color:#13a10e
}
.framebuffer-colours.-microsoft .green.bold{
    color:#16c60c
}
.framebuffer-colours.-microsoft .yellow{
    color:#c19c00
}
.framebuffer-colours.-microsoft .yellow.bold{
    color:#f9f1a5
}
.framebuffer-colours.-microsoft .blue{
    color:#0037da
}
.framebuffer-colours.-microsoft .blue.bold{
    color:#3b78ff
}
.framebuffer-colours.-microsoft .purple{
    color:#881798
}
.framebuffer-colours.-microsoft .purple.bold{
    color:#b4009e
}
.framebuffer-colours.-microsoft .cyan{
    color:#3a96dd
}
.framebuffer-colours.-microsoft .cyan.bold{
    color:#61d6d6
}
.framebuffer-colours.-microsoft .white{
    color:#ccc
}
.framebuffer-colours.-microsoft .white.bold{
    color:#f2f2f2
}
.framebuffer-colours.-ubuntu{
    background-color:#300a24
}
.framebuffer-colours.-ubuntu .black{
    color:#2e3436
}
.framebuffer-colours.-ubuntu .black.bold{
    color:#555753
}
.framebuffer-colours.-ubuntu .red{
    color:#c00
}
.framebuffer-colours.-ubuntu .red.bold{
    color:#ef2929
}
.framebuffer-colours.-ubuntu .green{
    color:#4e9a06
}
.framebuffer-colours.-ubuntu .green.bold{
    color:#8ae234
}
.framebuffer-colours.-ubuntu .yellow{
    color:#c4a000
}
.framebuffer-colours.-ubuntu .yellow.bold{
    color:#fce94f
}
.framebuffer-colours.-ubuntu .blue{
    color:#3465a4
}
.framebuffer-colours.-ubuntu .blue.bold{
    color:#729fcf
}
.framebuffer-colours.-ubuntu .purple{
    color:#75507b
}
.framebuffer-colours.-ubuntu .purple.bold{
    color:#ad7fa8
}
.framebuffer-colours.-ubuntu .cyan{
    color:#06989a
}
.framebuffer-colours.-ubuntu .cyan.bold{
    color:#34e2e2
}
.framebuffer-colours.-ubuntu .white{
    color:#d3d7cf
}
.framebuffer-colours.-ubuntu .white.bold{
    color:#eeeeec
}
.nethack{
    cursor:default;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    margin:0;
    border-radius:4px;
    background-color:#222;
    padding:1rem;
    overflow-x:scroll;
    color:#eee;
    line-height:1
}
.nethack .yellow{
    color:#f9f1a5
}
.nethack .brown{
    color:#c19c00
}
.nethack .dimmed{
    color:#888
}
.vim-screenie{
    margin:0;
    border-radius:4px;
    background-color:#000;
    padding:1rem;
    overflow-x:scroll;
    color:#eee;
    line-height:1.2
}
.vim-screenie .blue{
    color:navy
}
.vim-screenie .brown{
    color:olive
}
.vim-screenie .perp{
    color:purple
}
