html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{
    display:block
}
audio,canvas,progress,video{
    display:inline-block
}
audio:not([controls]){
    display:none;
    height:0
}
progress{
    vertical-align:baseline
}
template,[hidden]{
    display:none
}
a{
    background-color:transparent
}
a:active,a:hover{
    outline-width:0
}
abbr[title]{
    border-bottom:0;
    text-decoration:underline;
    text-decoration:underline dotted
}
b,strong{
    font-weight:inherit
}
b,strong{
    font-weight:bolder
}
dfn{
    font-style:italic
}
h1{
    font-size:2em;
    margin:.67em 0
}
mark{
    background-color:#ff0;
    color:#000
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sub{
    bottom:-.25em
}
sup{
    top:-.5em
}
img{
    border-style:none
}
svg:not(:root){
    overflow:hidden
}
code,kbd,pre,samp{
    font-size:1em
}
figure{
    margin:1em 40px
}
hr{
    box-sizing:content-box;
    height:0;
    overflow:visible
}
button,input,select,textarea{
    font:inherit
}
optgroup{
    font-weight:700
}
button,input,select{
    overflow:visible
}
button,input,select,textarea{
    margin:0
}
button,select{
    text-transform:none
}
button,[type=button],[type=reset],[type=submit]{
    cursor:pointer
}
[disabled]{
    cursor:default
}
button,html [type=button],[type=reset],[type=submit]{
    -webkit-appearance:button
}
button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;
    padding:0
}
button:-moz-focusring,input:-moz-focusring{
    outline:1px dotted ButtonText
}
fieldset{
    border:1px solid silver;
    margin:0 2px;
    padding:.35em .625em .75em
}
legend{
    box-sizing:border-box;
    color:inherit;
    display:table;
    max-width:100%;
    padding:0;
    white-space:normal
}
textarea{
    overflow:auto
}
[type=checkbox],[type=radio]{
    box-sizing:border-box;
    padding:0
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
    height:auto
}
[type=search]{
    -webkit-appearance:textfield
}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
html{
    color:#333;
    font-family:moniker
}
h3{
    margin-bottom:0;
    text-transform:uppercase;
    font-size:13pt
}
code,pre,tt{
    font-family:iosevka term
}
.body a{
    box-shadow:inset 0 -.15em #fff,inset 0 -.2em #bf8e82;
    height:8px;
    text-decoration:none;
    text-shadow:-2px 0 0 #fff,-1px 1px #fff,1px 1px #fff,2px 0 0 #fff;
    transition:text-shadow .3s,background-color .3s;
    background-color:transparent
}
.body a:link,.body a:visited{
    color:#8a6666
}
.body a:hover{
    background-color:#fdf6f4;
    text-shadow:none
}
@font-face{
    font-family:moniker;
    font-weight:400;
    src:url(../static/fonts/moniker/light.woff2) format("woff2"),url(../static/fonts/moniker/light.woff) format("woff"),url(../static/fonts/moniker/light.eot) format("eot")
}
@font-face{
    font-family:moniker;
    font-weight:700;
    src:url(../static/fonts/moniker/medium.woff2) format("woff2"),url(../static/fonts/moniker/medium.woff) format("woff"),url(../static/fonts/moniker/medium.eot) format("eot")
}
@font-face{
    font-family:moniker;
    font-weight:400;
    font-style:italic;
    src:url(../static/fonts/moniker/litalic.woff2) format("woff2"),url(../static/fonts/moniker/litalic.woff) format("woff"),url(../static/fonts/moniker/litalic.eot) format("eot")
}
@font-face{
    font-family:bryant;
    font-weight:700;
    src:url(../static/fonts/bryantcond/medium.woff2) format("woff2"),url(../static/fonts/bryantcond/medium.woff) format("woff"),url(../static/fonts/bryantcond/medium.eot) format("eot")
}
@font-face{
    font-family:iosevka term;
    font-weight:400;
    src:url(../static/fonts/iosevka-term/regular.woff2) format("woff2"),url(../static/fonts/iosevka-term/regular.woff) format("woff"),url(../static/fonts/iosevka-term/regular.eot) format("eot")
}
.red{
    color:#cc6060
}
.green{
    color:#60cc60
}
.blue{
    color:#6060cc
}
.yellow{
    color:#bbbb50
}
.terminal{
    line-height:1.3
}
.container{
    padding-left:6px;
    padding-right:6px
}
@media screen and (min-width:820.01px){
    .row.-cols{
        display:flex
    }
    .row.-cols>.main{
        width:80%
    }
    .row.-cols>.aside{
        width:20%
    }
    .row.-cols>.-shove{
        display:flex;
        flex-direction:column-reverse;
        padding-bottom:1rem
    }
    .row.-cols>.-push{
        margin-top:1rem
    }
    .container{
        margin:0 auto;
        width:800px
    }
}
@media screen and (min-width:640.01px) and (max-width:820px){
    .container{
        margin:0 auto;
        width:640px
    }
}
@media screen and (max-width:820px){
    .container{
        box-sizing:border-box;
        padding-left:1rem;
        padding-right:1rem
    }
}
@media screen and (min-width:540.01px){
    .two-columns{
        display:flex
    }
    .two-columns .left-column{
        padding-right:12px;
        width:50%
    }
    .two-columns .right-column{
        padding-left:12px;
        width:50%
    }
    .twoese-columns{
        display:flex
    }
    .twoese-columns .left-column{
        width:40%;
        font-size:16pt
    }
    .twoese-columns .right-column{
        padding-left:12px;
        width:60%
    }
}
@media screen and (min-width:820.01px){
    .twoish-columns{
        display:flex
    }
    .twoish-columns .left-column{
        width:74%
    }
    .twoish-columns .left-column p:first-child{
        margin-top:0
    }
    .twoish-columns .left-column p:last-child{
        margin-bottom:0
    }
    .twoish-columns .right-column{
        padding-left:12px;
        width:26%
    }
}
@media screen and (min-width:640.01px) and (max-width:820px){
    .twoish-columns{
        display:flex
    }
    .twoish-columns .left-column{
        width:64%
    }
    .twoish-columns .left-column p:first-child{
        margin-top:0
    }
    .twoish-columns .left-column p:last-child{
        margin-bottom:0
    }
    .twoish-columns .right-column{
        padding-left:12px;
        width:36%
    }
}
.post{
    padding-top:3rem;
    padding-bottom:8rem;
    width:100%
}
.post .text h2{
    margin-top:4rem;
    text-transform:uppercase;
    font-family:moniker;
    font-size:10pt;
    font-family:bryant;
    font-size:14pt
}
.post .text>code{
    display:block;
    line-height:1.5;
    color:#646894;
    font-size:14pt
}
.post .text>code>pre{
    display:inline
}
.post .text>code+code{
    padding-top:1rem
}
.post .text p,.post .text li,.post .text blockquote{
    line-height:1.5;
    color:#606060;
    font-size:14pt
}
.post .text p>code,.post .text p>bloc,.post .text li>code,.post .text li>bloc,.post .text blockquote>code,.post .text blockquote>bloc{
    font-size:13pt
}
@media screen and (max-width:820px){
    .post .text p,.post .text li{
        font-size:13pt
    }
    .post .text p>code,.post .text li>code{
        font-size:12pt
    }
    .post .text blockquote{
        font-size:12pt
    }
}
.post .text blockquote{
    margin:0 0 0 3px;
    border-left:3px solid #bf8e82;
    padding-left:1rem;
    padding-right:3rem;
    line-height:1.5;
    color:#999;
    font-size:13pt
}
.post .text ul{
    list-style-type:square;
    color:#606060
}
.post .text ul p{
    margin:0
}
.post .text ul.sep-list li+li{
    padding-top:1rem
}
.post-heading>.date{
    margin-left:2px;
    text-transform:uppercase;
    font-family:moniker;
    font-size:10pt;
    color:#bf8e82;
    font-family:bryant;
    font-size:10pt;
    font-weight:700
}
.post-heading>a{
    text-decoration:none;
    color:#333!important;
    transition:color .3s
}
.post-heading>a:hover{
    color:#606060!important
}
.post-heading>a>.title{
    margin-top:4px;
    margin-bottom:0;
    font-size:28pt
}
.posts-list>h2{
    font-family:bryant;
    text-transform:uppercase;
    font-size:16pt
}
.posts-list>*+*{
    margin-top:4rem
}
.side-note{
    margin:.5rem 0 0 1rem;
    color:#a0a0a0;
    font-size:11pt
}
.side-note>*{
    margin:0
}
.side-note>*+*{
    margin-top:.5rem
}
.tombstone{
    cursor:default;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    margin-left:4px;
    color:#999
}
.top-bar{
    box-sizing:border-box;
    transition:background-position .3s;
    margin-top:14px;
    margin-bottom:24px;
    border-bottom:1px solid #bf8e82;
    background:linear-gradient(180deg,#fff,#fbefeb);
    background-repeat:no-repeat;
    background-position:0 28px
}
.top-bar:hover{
    background-position:0 0
}
@media screen and (max-width:540px){
    .top-bar{
        padding-bottom:2px;
        padding-left:4px;
        width:100%;
        font-size:14pt
    }
}
@media screen and (min-width:540.01px) and (max-width:820px){
    .top-bar{
        padding-bottom:1px;
        padding-left:4px;
        width:100%;
        font-size:16pt
    }
}
@media screen and (min-width:820.01px){
    .top-bar{
        margin-left:auto;
        margin-right:auto;
        width:820px;
        font-size:18pt
    }
}
.top-bar>a{
    transition:color .3s;
    padding-left:4px;
    padding-right:4px;
    text-transform:uppercase;
    text-decoration:none;
    text-shadow:0 1px #fff;
    color:#c8463e;
    font-family:moniker
}
