---
title: Hola
layout: default
---

   <!-- home
   ================================================== -->
   <section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="{{ site.hola.background }}" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3>{{ site.hola.hello }}</h3>

                <h1>
                    {{ site.hola.bio }}
                </h1>

                <div class="home-content__buttons">
                    <a href="{{ site.hola.buttons.first.link }}" class="smoothscroll btn btn--stroke">
                        {{ site.hola.buttons.first.text }}
                    </a>
                    <a href="{{ site.hola.buttons.second.link }}" class="smoothscroll btn btn--stroke">
                        {{ site.hola.buttons.second.text }}
                    </a>
                </div>

                <div class="home-content__scroll">
                    <a href="#about" class="scroll-link smoothscroll">
                        <span>{{ site.hola.scrolldown.text }}</span>
                    </a>
                </div>

            </div>

        </div> <!-- end home-content -->

        <ul class="home-social">
            {% if site.social %}
            {% for slink in site.social %}
            <li><a {% if slink.smoothscroll %}class="smoothscroll" {% endif %}href="{{ slink.link }}">
              <i class="{{ slink.icon }}" aria-hidden="true"></i>
              <span>{{ slink.title }}</span>
            </a></li>
            {% endfor %}
            {% endif %}
        </ul>
        <!-- end home-social -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about  target-section">
    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full text-center">
            <h3>{{ site.data.about.subtitle }}</h3>
            <h1>{{ site.data.about.title }}</h1>
            <p class="lead">{{ site.data.about.bio }}</p>
        </div>
    </div>
    <div class="row basic-content one-column">
        <div class="col-eight tab-full">
            {{% if site.data.about.paragraphs %}}{{% for paragraph in site.data.about.paragraphs %}}
            {{% if paragraph.lead %}}
            <p class="lead" style="text-align: center;">{{ paragraph.p }}</p>
            {{% else %}}
            <p>{{ paragraph.p }}</p>
            {{% endif %}}
            {{% endfor %}}{{% endif %}}
        </div>
    </div>
    </section>


    <!-- works
    ================================================== -->
    <section id="works" class="s-works target-section">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full">
                <h3>Portfolio</h3>
                <h1>Echa un ojo a mis últimos proyectos.</h1>

                <p class="lead">He realizado multitud de trabajos. En este pequeño portfolio puedes ver algunos de ellos.</p>
            </div>
        </div>

        <div class="row masonry-wrap">
            <div class="masonry">
                {% if site.data.works %}{% for work in site.data.works %}
                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="gallery-wrapper">
                            <div class="item-folio__thumb">
                                <a href="{{ work.photo-gallery }}" class="thumb-link" title="{{ work.title }}" data-size="1050x700">
                                    <img src="{{ work.photo }}"
                                         srcset="{{ work.photo }} 1x, {{ work.photo2x }} 2x" alt="{{ work.title }} image">
                                    <span class="shadow-overlay"></span>
                                </a>
                            </div>

                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    {{ work.title }}
                                </h3>
                                <p class="item-folio__cat">
                                    {{ work.category }}
                                </p>
                            </div>

                            <div class="item-folio__caption">
                                <p>{{ work.description }}</p>
                            </div>
                        </div>

                        <a href="{{ work.link }}" target="_blank" class="item-folio__project-link" title="Enlace al Proyecto">
                            <i class="fa fa-link"></i>
                        </a>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->
                {% endfor %}{% endif %}
            </div>
        </div> <!-- end masonry -->

    </section> <!-- end works -->

    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div><!-- end photoSwipe background -->

    <div id="preloader">
        <div id="loader"></div>
    </div>

    <!-- blog
    ================================================== -->
    <section id="blog" class="s-blog target-section">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full">
                <h3>Blog</h3>
                <h1>Últimas Entradas en el Blog.</h1>
                <p class="lead">Aquí podrás ver algunas de las últimas entradas que escribiré en mi blog. Te prometo que habrá cosas muy interesantes.</p>
            </div>
        </div>

        <div class="row blog-content">
            <div class="col-full">

                <div class="blog-list block-1-2 block-tab-full">
                    {% if site.posts %}{% for post in site.posts limit:4 %}
                    <article class="col-block">

                        <div class="blog-date">
                            <a>{{ post.date | date: '%B %d, %Y' }}</a>
                        </div>

                        <h2 class="h01"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <p>
                        {{ post.excerpt | strip_html | truncate: 360 }}
                        </p>

                        <div class="blog-cat">
                                {% if post.categories %}{% for category in post.categories %}
                                <a href="{{ site.baseurl }}{{ site.category_page }}#{{ category | slugify }}">{{ category }}</a>
                                {% endfor %}{% endif %}
                        </div>


                    </article>
                    {% endfor %}{% endif %}
                </div> <!-- end blog-list -->

            </div> <!-- end col-full -->
        </div> <!-- end blog-content -->

    </section> <!-- end s-blog -->


    <!-- s-contact
    ================================================== -->
    <section id="contact" class="s-contact target-section" style="background: url({{ site.hola.contact_bg }});background-position: center;">
    <!--<div class="overlay" style="opacity:0;"></div>-->
    <div class="row narrow section-intro">
        <div class="col-full">
            <h3>Contacto</h3>
            <h1>¿Quieres decirme algo?</h1>
            <p class="lead"></p>
        </div>
    </div>
    <div class="row basic-content">
        <div class="col-six tab-full left">
            <h3 style="color:#862121;">E-MAIL</h3>
            <p class="lead"></p>
            <p>Puedes escribirme un e-mail a esta dirección. Te atenderé lo más rápido que pueda.</p>
        </div>
        <div class="col-six tab-full right">
            <h3 style="color:#862121;font-family:librebaskerville-bold"><br></h3>
            <p class="lead"></p>
            <div class="email" style="color:#d4d4d4;text-align:center;font-size:1.8em;font-family: monospace;"> hola@[este dominio] </div>
        </div>
    </div>
    <div class="row basic-content one-column">
        <div class="col-eight tab-full">
            <h3></h3>
            <p class="lead"></p>
                <p>Puedes enviarme un e-mail usando OpenPGP. La clave pública completa <a href="/Raul_San_Martin_Aniceto_pub.asc" title="Clave PGP">puedes encontrarla aquí</a>, y su fingerprint es:</p>
                <div class="fingerprint" style="color:#ffffff;text-align:center;font-family: 'Roboto Mono', monospace;font-size:1.2em">
                    <div class="line">7C31 40D7 4379 6074 991D</div>
                    <div class="line">3E4C F6D5 11A4 F2BB E4C7</div>
                </div>
                <p><br>Si quieres aprender a usar PGP, échale un vistazo a <a href="https://futureboy.us/pgp.html" title="Un tutorial sobre cómo empezar con PGP">este manual de PGP</a>.</p>
        </div>
    </div>

    </section> <!-- end s-contact -->
