<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            {% if page.title == 'Hola' %}
            <a class="site-logo" href="#top"><img src="{{ site.logo_url }}" alt="Página de inicio"></a>
            {% else %}
            <a class="site-logo" href="/"><img src="{{ site.logo_url }}" alt="Página de inicio"></a>
            {% endif %}
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                {% if page.title == 'Hola' %}
                <li class="current"><a class="smoothscroll"  href="#home" title="home">Inicio</a></li>
                <li><a class="smoothscroll"  href="#about" title="about">Sobre Mí</a></li>
                <li><a class="smoothscroll"  href="#works" title="works">Mis Proyectos</a></li>
                <li><a class="smoothscroll"  href="#contact" title="contact">Contacto</a></li>
                <li><a href="/blog" title="blog">Blog</a></li>
                {% elsif page.title == 'Blog' %}
                <li><a href="/#home" title="home">Inicio</a></li>
                <li><a href="/#about" title="about">Sobre Mí</a></li>
                <li><a href="/#works" title="works">Mis Proyectos</a></li>
                <li><a href="/#contact" title="contact">Contacto</a></li>
                <li class="current"><a href="/blog" title="blog">Blog</a></li>
                {% else %}
                <li><a href="/#home" title="home">Inicio</a></li>
                <li><a href="/#about" title="about">Sobre Mí</a></li>
                <li><a href="/#works" title="works">Mis Proyectos</a></li>
                <li><a href="/#contact" title="contact">Contacto</a></li>
                <li><a href="/blog" title="blog">Blog</a></li>
                {% endif %}
            </ul>
        </nav>

        <a class="header-menu-toggle" href="javascript: void(0)"><span>Menu</span></a>

    </header> <!-- end s-header -->
