<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="{{ site.language }}"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="{{ site.language }}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="{{ site.language }}">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">

    <meta property="og:title" content="{{ page.title }} | {{ site.title }}" />
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | truncate: 110 }}...{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:image" content="{{ site.url }}{{ site.logo_alt }}" />
    <meta property="og:url" content="{{ site.url }}" />
    {% if page %}
    <meta property='og:type' content='article' />
    {% else %}
    <meta property="og:type" content="website" />
    {% endif %}

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>
    <script src="/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ site.favicon }}" type="image/x-icon">

</head>
