---
title: Blog
description: Aquí podrás encontrar las entradas de mi blog. Te prometo que encontrarás cosas muy interesantes.
layout: default
---

    <!-- page header
    ================================================== -->
    {% for post in site.posts limit:1 %}
    <section class="page-header page-hero" style="background-image:url({{ post.image }})">

        <div class="row page-header__content">
            <article class="col-full">

                <div class="page-header__info">
                    <div class="page-header__cat">
                        {% if post.categories %}
                        {% for category in post.categories %}
                        <a href="{{ site.baseurl }}{{ site.category_page }}#{{ category | slugify }}">{{ category }}</a>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="page-header__date">
                        {{ post.date | date: '%B %d, %Y' }}
                    </div>
                </div>

                <h1 class="page-header__title">
                    <a href="{{ post.url }}" title="">
                        {{ post.title }}
                    </a>
                </h1>
                <p>{{ post.excerpt | strip_html | truncate: 188 }}</p>
                <p>
                    <a href="{{ post.url }}" class="btn btn--stroke page-header__btn">Sigue leyendo</a>
                </p>
            </article>
        </div>

    </section> <!-- end page-header -->
    {% endfor %}

    <!-- blog
    ================================================== -->
    <section class="blog-content-wrap">

        <div class="row blog-content">
            <div class="col-full">

                <div class="blog-list block-1-2 block-tab-full">
                    {% for post in paginator.posts %}
                    <article class="col-block">

                        <div class="blog-date">
                            <a href="{{ post.url | relative_url }}">{{ post.date | date: '%B %d, %Y' }}</a>
                        </div>

                        <h2 class="h01"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
                        <p>
                        {{ post.excerpt | strip_html }}
                        </p>

                        <div class="blog-cat">
                            {% if post.tags %}{% for tag in post.tags %}
                            <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}">{{ tag }}</a>
                            {% endfor %}{% endif %}
                        </div>

                    </article>
                    {% endfor %}

                    <article class="col-block">

                        <div class="blog-date">
                            <a href="blog-single.html">Sept 15, 2017</a>
                        </div>

                        <h2 class="h01"><a href="/blog-single.html">Photography Skills Can Improve Your Graphic Design.</a></h2>
                        <p>
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh..
                        </p>

                        <div class="blog-cat">
                            <a href="blog.html">Photography</a>
                        </div>

                    </article>

                    <article class="col-block">

                        <div class="blog-date">
                            <a href="blog-single.html">Sept 14, 2017</a>
                        </div>

                        <h2 class="h01"><a href="blog-single.html">Workspace Design Trends and Ideas.</a></h2>
                        <p>
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh dolore irure esse Duis nulla sint.
                        </p>

                        <div class="blog-cat">
                            <a href="blog.html">Branding</a><a href="blog.html">Wordpress</a>
                        </div>
                    </article>

                    <article class="col-block">

                        <div class="blog-date">
                            <a href="blog-single.html">Sept 12, 2017</a>
                        </div>
                        <h2 class="h01"><a href="blog-single.html">You Can See Patterns Everywhere.</a></h2>
                        <p>
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh.
                        </p>

                        <div class="blog-cat">
                            <a href="blog.html">Design</a><a href="blog.html">UI</a>
                        </div>
                    </article>

                    <article class="col-block">

                        <div class="blog-date">
                            <a href="blog-single.html">Sept 12, 2017</a>
                        </div>
                        <h2 class="h01"><a href="blog-single.html">Designing With Black and White.</a></h2>
                        <p>
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh.
                        </p>

                        <div class="blog-cat">
                            <a href="blog.html">Design</a>
                        </div>
                    </article>

                    <article class="col-block">
                        <div class="blog-date">
                            <a href="blog-single.html">Sept 10, 2017</a>
                        </div>
                        <h2 class="h01"><a href="blog-single.html">Get Started With Web Typography .</a></h2>
                        <p>
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh.
                        </p>

                        <div class="blog-cat">
                            <a href="blog.html">Typography</a>
                        </div>
                    </article>

                    <article class="col-block">

                        <div class="blog-date">
                            <a href="blog-single.html">Sept 08, 2017</a>
                        </div>
                        <h2 class="h01"><a href="blog-single.html">Improving Design Layout With Vertical Rhythm.</a></h2>
                        <p>
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh.
                        </p>

                        <div class="blog-cat">
                            <a href="blog.html">Design</a><a href="#0">Web Design</a>
                        </div>
                    </article>

                </div> <!-- end blog-list -->

            </div> <!-- end col-full -->
        </div> <!-- end blog-content -->

        <div class="row blog-entries-nav">
            <div class="col-full">
                <a href="#0" class="btn btn--stroke">
                    <i class="im im-arrow-left"></i>
                    Prev
                </a>
                <a href="#0" class="btn btn--stroke">
                    Next
                    <i class="im im-arrow-right"></i>
                </a>
            </div>
        </div>

    </section> <!-- end blog-content-wrap -->
