---
layout: default
---
<article class="blog-single">

    <!-- page header/blog hero
    ================================================== -->
    <div class="page-header page-header--single page-hero" style="background-image:url({{ page.image }})">

        <div class="row page-header__content narrow">
            <article class="col-full">
                <h1 class="page-header__title">
                    <a title="">
                        {{ page.title }}
                    </a>
                </h1>

            </article>
        </div>

    </div> <!-- end page-header -->

    <div class="row blog-content">
        <div class="col-full blog-content__main">

            {{ content }}

        </div><!-- end blog-content__main -->
    </div> <!-- end blog-content -->

</article>
